## Content of Part-1

Basic python operators

Indexing

User input

List

Tuple

Set

Dictionary (Mapping)

Variables

Datatypes

# PYTHON

In [1]:
3/2 # float number

1.5

In [2]:
19//2 # integer value

9

In [3]:
3%2 # return remainder

1

In [4]:
-3%2 # return remainder

1

In [5]:
2**5 # 2 to the power 5

32

### Use cases of single(' ') and double (" ") quotes

In [6]:
print('python')

python

In [7]:
print("python")

python

In [8]:
print('ram's book') # Eroor

SyntaxError: invalid syntax (Temp/ipykernel_18128/925841124.py, line 1)

In [9]:
print("ram's book")

ram's book

In [10]:
print("ram eat "mango"") # Error

SyntaxError: invalid syntax (Temp/ipykernel_18128/2733651496.py, line 1)

In [11]:
print('ram eat "mango"')

ram eat "mango"

In [12]:
# we want to print ram's "laptop"

print('ram's"laptop"') # Error

SyntaxError: invalid syntax (Temp/ipykernel_18128/4233635335.py, line 3)

In [13]:
print('rams\'s "laptop"')

# by using backslash before single quote we say python can you please ignore the special meaning of  this single quote

rams's "laptop"

In [14]:
print('c:\docs\navin') # but we want to print as it is

c:\docs
avin

In [15]:
print(r'c:\docs\navin') # r can be used to print string as it is without coonverting it into special meaning

c:\docs\navin

In [16]:
'ram'+'ram' # will concatenate string

'ramram'

In [17]:
'ram'*5

'ramramramramram'

# INDEXING


In python indexing start from 0

In [18]:
str1="YOUTUBE" 
str1

'YOUTUBE'

In [19]:
len(str1)

7

In [20]:
str1[0] # first element

'Y'

In [21]:
str1[0:4] # last index excluded

'YOUT'

In [22]:
str1[3:]

'TUBE'

In [23]:
str1[:4]

'YOUT'

In [24]:
str1[:]

'YOUTUBE'

In [25]:
# what if give index more than the length

str1[2:30] # will print till last element withougiving any error

'UTUBE'

### Note


Python support negative indexing as well.

negative indexing means start from last

1   2   3   4   5   6   7  +ve indexing

Y   O   U   T   U   B   E

-7 -6  -5  -4  -3  -2  -1  -ve indexing

In [26]:
str1[-1] # negative indexing means start from last

'E'

In [27]:
str1[3:-1]

'TUB'

In [28]:
str1[-7:-4] # always move from left to right

'YOU'

### Note

String in python are immutable

In [29]:
str1[2]='M'

TypeError: 'str' object does not support item assignment

# TAKING INPUT FROM USER

In [30]:
# user input

name=input("Enter your name: ")
# by default return type of input is string

print(name)
print(type(name))

Enter your name: Ramesh
Ramesh
<class 'str'>

In [31]:
# taking input of different type

intNum=int(input("Enter integer: "))
floatNum=float(input("Enter float: "))

print(intNum)
print(floatNum)

Enter integer: 124
Enter float: 123.345
124
123.345

# LIST

list are muttable that is we can change the value inside list

list support indexing

two or more list have same element points to different memory allocation

In [ ]:
list1=[1,2,3,4] # list 

print(type(list1)) # print type of item

list1

In [ ]:
emptyList=[] # empty list declaration

print(type(emptyList))

emptyList

In [ ]:
# list can contain items of different datatypes

list1=[1,'a',"ram",True] 
list1

In [ ]:
# list can contain another list as an item

list2=[1,2,3,['a','b','c'],True] 
list2

In [ ]:
list2[3]

In [ ]:
# nested list means list inside list

nestList=[[1,2,9,8],[3,4],[5,6]]
nestList

In [ ]:
# accessing element fro nested list

print(nestList[0]) 
print(nestList[0][1]) # first index represent outer list and second index represent inner list
print(nestList[0][1:])
print(nestList[:][1])

In [ ]:
# list methods

list1=[1,2,3,4]

print(min(list1)) # give minimum element from list
print(max(list1)) # give maximum element from list
print(sum(list1)) # give sum of elements in list

# append() method takes only one argument (element)
list1.append(9) # add item at end of list
print(list1)

# insert() method take two argumnt (index,element)
list1.insert(3, 12.3)
print(list1)

# remove() method take one argument (element)
list1.remove(3) # remove passed element from list, if element doesnot exist in list then will give error
print(list1)

# pop() mthod takes one argument (index)
list1.pop(4)
print(list1)

# del is used to delete one or more element at a time using indexing
del list1[1:3]
print(list1)

del list1[1]
print(list1)

# extend() method take one iterable argument (iterable) like list,.....
list1.extend([88,44,66])
print(list1)

### Note

A string is an iterable, so if we extend list with a string, we will append each character as we iterate over string

see example below:-

In [ ]:
list1.extend("python")
print(list1)

### Remark

append() has constant time complexity that is O(1)

extend() has time complexity of O(k) where k is length of list to be added

In [ ]:
# sorting list

list2=[3,9,3,-1,344,12,-44,77]

list2.sort() # sort list in ascending order
print(list2)

list2.sort(reverse=True) # sort list in descending order
print(list2)

a=list2.sort() # try ot assigning it in a variable will return None
print(a)

In [ ]:
# lists with same element refer to different memory address

a=[1,2,3,4]
b=[1,2,3,4]

print(id(a)) # return address of element
print(id(b))

c=[4,3,2,1]
print(id(c))

## creating list from user input

In [ ]:
# method 1

string1=input("Enter elements of list separated by space: ") # list of all string datatype
list3=string1.split()
print(list3)

In [ ]:
# method 2

list4=[]
n=int(input("Enter size: "))
for i in range(n):
    item=int(input("Enter element: ")) # list of int datatype
    list4.append(item)
print(list4)

In [ ]:
# method 3

n=int(input("Enter size: "))
list5=list(int(item) for item in input("Enter items separated by space: ").strip().split())[:n]
print(list5)

In [ ]:
# method 4

n=int(input("Enter size: "))
list6=list(map(int,input("Enter items separated by space: ").strip().split()))[:n]
print(list6)

In [ ]:
# nested list or 2D array

r=int(input("Enter row size: "))
c=int(input("Enter column size: "))
list7=[[int(input("Enter element and hit enter key:")) for i in range(c)] for i in range(r)]
print(list7)

In [ ]:
# nested list

list8=[]
n=int(input("Enter size: "))
for i in range(n):
    items=[input("Enter string item: "),int(input("Enter int item"))]
    list8.append(items)
print(list8)

# TUPLE

tuple are immutable that is we cannot change its element

tuple support indexing like list

two or more tuples having same element points to same memory allocation

In [ ]:
tuple1=(1,2,3,4) # tuple declartion

print(type(tuple1))

tuple1

In [ ]:
tuple11=(1,) # tuple having single element
print(type(tuple11))

tuple12=(1) # this is not tuple
print(type(tuple12))

In [ ]:
emptyTuple=() # empty tuple declaration

print(type(emptyTuple))

emptyTuple

In [ ]:
tuple1[1:3] # indexing i same as list

In [ ]:
tuple1[0]=99 # tuple are immutable

In [ ]:
# tuple item can be of different datatypes
tuple2=('a',"apple",1,12.66,False)
tuple2

In [ ]:
# tuples having same elements points to same memory loaction

tupl1=(1,2,3,4,5)
tupl2=(1,2,3,4,5)

print(id(tupl1))
print(id(tupl2))

In [ ]:
fruit=['apple','banana','guava']
(x,y,z)=fruit

In [ ]:
print(x)
print(type(x))

print(y)
print(type(y))

print(z)
print(type(z))

In [ ]:
# split() returns list of strings after breaking given string by specified separation

email="saurabhp85070@gmail.com"
email.split('@')

In [ ]:
part1,part2=email.split('@')

print(type(part1))
print(part1)

print(type(part2))
print(part2)

### Note

iteration in tuple is faster than list

## creating tuple from user input

We can create tuple from user input in same way as we create list.

We can do it in three ways:

(1) We will call tuple() method instead of list()

(2) We will place ( ) instead of [ ]

(3) We will create list and convert it into tuple using tuple() method

## List VS Tuple

tuples are stored in single block of memory

list are alocated in two blocks: fixed one with all python object information and other with a variable sized block for data

Create tuple is faster than list

whenever application needs a constant set of values and which can be iterated through it then tuple is preffered than list

tuple makes code safer if data is to be write-protect that is need not to be changed anytime later.

# SET

set are immutable

set never follow sequence

set does not support indexing

duplicates values are printed only songle time

two or more sets having same elements points to different memory alloocation

In [ ]:
set1={1,2,3,4,3} # set declaration

print(type(set1))

set1

### Note

we cannot create empty set using way:- emptySet={}

this basically represent empty dictionary not set

so, to create empty set we will use set() method

In [ ]:
emptySet=set() # empty set

print(type(emptySet))

emptySet

In [ ]:
emptySet2={} # this is not set
print(type(emptySet2))

In [ ]:
# set item can be of different datatypes

set1={1,12.3,True,'a','apple'}
set1

## creating set from user input

We can create set from user input in same way as we create list.

We can do it in three ways:

(1) We will call set() method instead of list()

(2) We will place { } instead of [ ]

(3) We will create list and convert it into tuple using set() method

### Remark

we can use list() method for creating list and for conversion into list

we can use tuple() method for creating tuple and for conversion into tuple

we can use set() for creating set

# VARIABLE

whenever we create multiple variable and in case they have same data, they both will pooint to same address

In [ ]:
a=2
b=3
c=2

print(id(a))
print(id(b))
print(id(c))

In [ ]:
a=9    # a is reffering to 9
b=10   # b is reffering to 10
k=a

print(id(b))

# id of k will be same as a
print(id(k))
print(id(a))

# now,
b=8    # no thing is reffering to value 10, so it will collect garbage value

### Note

whenever we have a data in memory which will not be used or which is not tagged any variable, it will be garbage collection later.

In [ ]:
a=2,b=3,c=4 # wrong way to declare multuple variable in one line

In [ ]:
a=2; b=3; c=4
print(a,b,c)

# DATATYPES

None:- variable that not been assigned with any value. In other language, it is called null

numeric:- int, float, complex, bool

list

tuple

set

string

range

dictionary

In [ ]:
# complex

k=6
b=2.8

c=complex(b,k)

print(type(c))
print(c)

In [ ]:
c=3+j

In [ ]:
cp=3+1j

print(type(cp))
cp

In [ ]:
int(False)

In [ ]:
bl=True
type(bl)

# RANGE

used for iteration

syntax:- range(start,end,iteration)

In [ ]:
range(10)

In [ ]:
ran=range(10)
list(ran)

In [ ]:
list(range(1,15,3))

# DICTIONARY (Mapping)

it is a key value pair {key:value} where key can be of any datatype and value can be of any datatype

dictionary items are ordered, changeable and does not allow duplicates

In [ ]:
d={101:'book',201:'pen',301:'notebook'}

print(type(d))
print(d)

In [ ]:
# keys() returns all keys of dictionary

d.keys()

In [ ]:
# values() return all values of dictionary

d.values()

In [ ]:
d[301] # we can access values by passing key in square brackets

# another way to access value of a key

# get() return values of passed key

d.get(301)

In [ ]:
emptyDictionary={} # empty dictionary declaration

print(type(emptyDictionary))

emptyDictionary

In [ ]:
d2={99:"grocery","home":"apple",22:44} # key,value can be of different datatype
d2

In [ ]:
# return length of any item passed inside it

len(d2)

In [ ]:
# items() return each item in a dictionary as tuples in list

d2.items()

In [ ]:
# update() update dictionary with items from given arguments
# if item does not exist, item will be added

d2.update({"year":2022}) 
d2

In [ ]:
# pop() removes item with specified key

d2.pop(99)
d2

In [ ]:
# popitem() removes last inserted item
d2.popitem()
d2

In [ ]:
# setdefault() returns value of item with specified key
# if key does not exist, insert key with specified  value
d2.setdefault('color','red')
d2

In [ ]:
# copy() create a copy 

d3=d2.copy()
print(d3)

# we can also create copy by:-
d2=d3
print(d3)

In [ ]:
del d2[22]
d2

In [ ]:
# clear() method empties dictionary

d2.clear()
d2

In [ ]:
d2[22]

In [ ]:
# demo for all dictionary methods

dict1 = {1: "Python", 2: "Java", 3: "Ruby", 4: "Scala"}

# copy() method
dict2 = dict1.copy()
print(dict2)

# clear() method
dict1.clear()
print(dict1)

# get() method
print(dict2.get(1))

# items() method
print(dict2.items())

# keys() method
print(dict2.keys())

# pop() method
dict2.pop(4)
print(dict2)

# popitem() method
dict2.popitem()
print(dict2)

# update() method
dict2.update({3: "Scala"})
print(dict2)

# values() method
print(dict2.values())

In [ ]:
# dict() can be used to create dictionary as well

di=dict(name="ram",roll=4)
print(di)

# we can also use dict() for creating copy of dictionary
diCopy=dict(di)
print(diCopy)

## creating dictionary with user input

In [ ]:
# method 1 (duplicate key not allowed)

d3={}
n=int(input("Enter size: "))
for i in range(n):
    key=input("Enter key: ")
    value=input("Enter value: ")
    d3[key]=value
print(d3)

In [ ]:
# method 1 (duplicate key not allowed)

d3={}
n=int(input("Enter size: "))
for i in range(n):
    key=input("Enter key: ")
    value=input("Enter value: ")
    if key not in d3: # hnadling duplicate keys explicitly
        d3[key]=value
print(d3)

In [ ]:
# method 2

string=input("Enter key and value separated by space: ")
d4=dict(item.split() for item in string.splitlines())
print(d4)

In [ ]:
# method 3

n=int(input("Enter size: "))
d5=dict(input("Enter key and value separated by space: ").split() for i in range(n))
print(d5)

In [ ]:
print(d5)

# PRINT FORMAT

In [14]:
# using %d %s

age=50
name="Python"
rate=3.5533
print("Age=%d, Name=%s, Rate=%f"%(age,name,rate))
print("Age=%d, Name=%s, Rate=%.3f"%(age,name,rate))

Age=50, Name=Python, Rate=3.553300
Age=50, Name=Python, Rate=3.553

In [16]:
# format() method

age=50
name="Python"
rate=3.5533
print("Age={}, Name={}, Rate={}".format(age,name,rate))

Age=50, Name=Python, Rate=3.5533

In [2]:
# f method

age=50
name="Python"
rate=3.5533
print(f"Age={age}, Name={name}, Rate={rate}")

Age=50, Name=Python, Rate=3.5533